body{
  margin: 9px;
}

 .e-schedule .e-appointment-details{
  padding: 0  !important;
 }

 .template-wrap{
  background: green;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 41px;
  font-weight: 500;
 } 

 .month-template-wrap{
  background: red;
  padding: 1px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
 }

 .scheduler-title-container{
  width: 80%;
  display: inline-block;
  text-align: center;
  font-weight: 500;
 }

 .treeview-title-container{
  display: inline-block;
  width: 20%;
  padding-left: 20px;
  text-align: left;
  font-weight: 500;
 }

 .scheduler-component{
  float: left;
  width: 80%;
 }

 .treeview-component{
  float: right;
  width: 20%;
 }